<div  id="nav-header">
 <div class="row justify-content-end pt-3 mr-3">Politico News Scraper</div>   
 <div class="welcome row justify-content-end pt-1 mr-5 d-none"><h2>Welcome <span class="member-name justify-content-end"></span></h2></div> 
<div class="row justify-content-end mt-2">
                <button type="button" id="home" class="btn btn-outline-danger mr-3 d-none">Home</button>
        <button type="button" id="my-articles" class="btn btn-outline-primary mr-3 d-none">My Articles</button>
        <button type="button" id="update-scrape" class="btn btn-outline-danger mr-4 d-none">Update Scrape</button>
        <button type="button" id="logout" class="btn btn-outline-danger mr-4 d-none">Logout</button>
</div>
<div>
        
</div>
</div>